In [1]:
import pandas as pd
import time

In [33]:
X = pd.read_csv('E:/Github/DAT210x-Lab/Module6/Datasets/PUC.csv', sep=';', index_col=None, decimal=',') #, , na_values='?'
X.gender = X.gender.map({'Man':0, 'Woman': 1})
X.z4 = pd.to_numeric(X.z4, errors='coerce')
X.head(5)

D:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>user</th>
      <th>gender</th>
      <th>age</th>
      <th>how_tall_in_meters</th>
      <th>weight</th>
      <th>body_mass_index</th>
      <th>x1</th>
      <th>y1</th>
      <th>z1</th>
      <th>x2</th>
      <th>y2</th>
      <th>z2</th>
      <th>x3</th>
      <th>y3</th>
      <th>z3</th>
      <th>x4</th>
      <th>y4</th>
      <th>z4</th>
      <th>class</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>debora</td>
      <td>1</td>
      <td>46</td>
      <td>1.62</td>
      <td>75</td>
      <td>28.6</td>
      <td>-3</td>
      <td>92</td>
      <td>-63</td>
      <td>-23</td>
      <td>18</td>
      <td>-19</td>
      <td>5</td>
      <td>104</td>
      <td>-92</td>
      <td>-150</td>
      <td>-103</td>
      <td>-147.0</td>
      <td>sitting</td>
    </tr>
    <tr>
      <th>1</th>
      <td>debora</td>
      <td>1</td>
      <td>46</td>
      <td>1.62</td>
      <td>75</td>
      <td>28.6</td>
      <td>-3</td>
      <td>94</td>
      <td>-64</td>
      <td>-21</td>
      <td>18</td>
      <td>-18</td>
      <td>-14</td>
      <td>104</td>
      <td>-90</td>
      <td>-149</td>
      <td>-104</td>
      <td>-145.0</td>
      <td>sitting</td>
    </tr>
    <tr>
      <th>2</th>
      <td>debora</td>
      <td>1</td>
      <td>46</td>
      <td>1.62</td>
      <td>75</td>
      <td>28.6</td>
      <td>-1</td>
      <td>97</td>
      <td>-61</td>
      <td>-12</td>
      <td>20</td>
      <td>-15</td>
      <td>-13</td>
      <td>104</td>
      <td>-90</td>
      <td>-151</td>
      <td>-104</td>
      <td>-144.0</td>
      <td>sitting</td>
    </tr>
    <tr>
      <th>3</th>
      <td>debora</td>
      <td>1</td>
      <td>46</td>
      <td>1.62</td>
      <td>75</td>
      <td>28.6</td>
      <td>-2</td>
      <td>96</td>
      <td>-57</td>
      <td>-15</td>
      <td>21</td>
      <td>-16</td>
      <td>-13</td>
      <td>104</td>
      <td>-89</td>
      <td>-153</td>
      <td>-103</td>
      <td>-142.0</td>
      <td>sitting</td>
    </tr>
    <tr>
      <th>4</th>
      <td>debora</td>
      <td>1</td>
      <td>46</td>
      <td>1.62</td>
      <td>75</td>
      <td>28.6</td>
      <td>-1</td>
      <td>96</td>
      <td>-61</td>
      <td>-13</td>
      <td>20</td>
      <td>-15</td>
      <td>-13</td>
      <td>104</td>
      <td>-89</td>
      <td>-153</td>
      <td>-104</td>
      <td>-143.0</td>
      <td>sitting</td>
    </tr>
  </tbody>
</table>
</div>

In [34]:
X.columns

Index(['user', 'gender', 'age', 'how_tall_in_meters', 'weight',
       'body_mass_index', 'x1', 'y1', 'z1', 'x2', 'y2', 'z2', 'x3', 'y3', 'z3',
       'x4', 'y4', 'z4', 'class'],
      dtype='object')

In [35]:
y = X['class']
y = pd.get_dummies(y)

In [36]:
X.drop(['class','user'], axis=1, inplace=True)
X.head(1)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>gender</th>
      <th>age</th>
      <th>how_tall_in_meters</th>
      <th>weight</th>
      <th>body_mass_index</th>
      <th>x1</th>
      <th>y1</th>
      <th>z1</th>
      <th>x2</th>
      <th>y2</th>
      <th>z2</th>
      <th>x3</th>
      <th>y3</th>
      <th>z3</th>
      <th>x4</th>
      <th>y4</th>
      <th>z4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>46</td>
      <td>1.62</td>
      <td>75</td>
      <td>28.6</td>
      <td>-3</td>
      <td>92</td>
      <td>-63</td>
      <td>-23</td>
      <td>18</td>
      <td>-19</td>
      <td>5</td>
      <td>104</td>
      <td>-92</td>
      <td>-150</td>
      <td>-103</td>
      <td>-147.0</td>
    </tr>
  </tbody>
</table>
</div>

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=7)